<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>
{% if user.is_authenticated %}

    Witaj {{ user.username }}<br>
    <a href="{% url 'logout' %}">Wyloguj</a>

{% else %}
    <a href="{% url 'login' %}">Zaloguj</a>
    <a href="{% url 'register' %}">rejestracja</a>
{% endif %}
 </p>
{% block content %}
    Witam !!!
{% endblock %}
</body>
</html>