{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<h5>{{ date }}</h5>
{% include 'user_panel.html' %}
<ul class="nav">
    <li class="nav"><a href="{% url 'add_genre' %}">dodaj Gatunek</a> </li>
    <li class="nav"><a href="{% url 'add_movie' %}">dodaj Film</a> </li>
    <li class="nav"><a href="{% url 'add_producer' %}">dodaj producenta</a> </li>
    <li class="nav"><a href="{% url 'add_person' %}">dodaj osobe</a> </li>
    <li class="nav"><a href="{% url 'list_person' %}">Osoby</a> </li>
    <li class="nav"><a href="{% url 'list_genre' %}">Gatunki</a> </li>
    <li class="nav"><a href="{% url 'list_movie' %}">filmy</a> </li>

</ul>
{% block content %}
    Witam !!!
{% endblock %}
{% block jscript %}
{% endblock %}
</body>
</html>