{% extends 'base.html' %}
{% block content %}
    <ul>
        <li>
            tytuł - {{ movie.title }}
        </li>
        <li>
            rok produkcji - {{ movie.year }}
        </li>
        <li>
            reżyser - {{ movie.director }}
        </li>
        <li>
            garunki - {% for genre in movie.genre.all %} {{ genre }} {% endfor %}
        </li>
        <li>
            wytwornia - {{ movie.producer }}
        </li>
    </ul>
    <a href="{% url 'add_comment' movie.id %}">Dodaj komentarz</a>
    <h1>comments:</h1>
    <ul>
        {% for comment in movie.comment_set.all %}
            <li><p>{{ comment.text }}</p><small>{{ comment.date }} {{ comment.creator }}</small></li>
        {% endfor %}
    </ul>
{% endblock %}